.hero {
  display: flex;
  justify-content: space-between;
}

.left-h {
  padding: 1.5rem 2rem;
  flex: 3;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.right-h {
  background-color: var(--orange);
  flex: 1;
  position: relative;
}

.the-best-ad{
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: fit-content;
  padding: 20px 13px;
  text-transform: uppercase;
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.the-best-ad>span{
  z-index: 2;
}

.the-best-ad>div{
  position: absolute;
  background-color: var(--orange);
  width: 5.4rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* line-height: 1.2; */
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #FFF;
  font-weight: bold;
  text-overflow: inherit;
}

.hero-text .small-dec {
  /* background-color: aqua; */
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
  
}

.figures {
  /* background-color: aliceblue; */
  display: flex;
  gap: 1.5rem;
  width: 51%;
}

/* targeting each div in figures*/
.figures>div {
  display: flex;
  flex-direction: column;
}

/* nth-of-type(1) */
.figures>div>span:first-child {
  color: #FFF;
  font-size: 2rem;
  letter-spacing: 2px;
}

.figures>div>span:last-child {
  /* background-color: aqua; */
  color: var(--gray);
  line-height: 1.5;
  text-transform: uppercase;
}

.hero-btn {
  display: flex;
  gap: 1rem;
}

.btn {
  font-weight: normal;
}

.hero-btn>:first-child{
  color: #FFF;
  background-color: var(--orange);
  width: 8rem;
}

.hero-btn>:first-child:hover{
  background-color: #fb923c;
  font-weight: 500;
  letter-spacing: .5px;
}

.hero-btn>:last-child{
  color: #FFF;
  background-color: transparent;
  width: 8rem;
  border: 2px solid var(--orange);
}

.hero-btn>:last-child:hover{
  background-color: #fb923c;
  font-weight: 500;
  letter-spacing: .5px;
}

/* right-hero */
.right-h>.btn{
  position: absolute;
  right: 3rem;
  top: 1.83rem;
  color: black;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  align-items: start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
}

.heart-rate>img {
  width: 2.3rem;
}

.heart-rate>:nth-child(2) {
  color: var(--gray);
  
}

.heart-rate>:nth-child(3) {
  color: #FFF;
  font-size: 1.5rem;
}

/* Hero image */
.hero-image {
  /* background-color: #fb923c; */
  position: absolute;
  right: 8rem;
  top: 10rem;
  width: 23rem;
}

.hero-image-black {
  position: absolute;
    right: 20rem;
    top: 4rem;
    width: 15rem;
    z-index: -1;
  
}

.calories {
  background-color: var(--caloryCard);
  gap: 2rem;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  top: 32rem;
  right: 28rem;
}

.calories > img {
  width: 3rem;
}

.calories > div {
  /* background-color: #fb923c; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calories>div>:nth-child(1){
  color: var(--gray);
}

.calories>div>:nth-child(2){
  color: #FFF;
  font-size: 1.5rem;
}

.blur-hero {
  width: 22rem;
  height: 30rem;
  left: 0;
}



/* @media screen and (min-width:1440px) {
  .hero-image {
    position: absolute;
    top: 8rem;
    right: 16rem;
    width: 25rem;
  }
  
  .hero-image-black {
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
  }
} */