.programs{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}

.programs-header {
  display: flex;
  gap: 5rem;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-style: italic;

}

.programs-categories{
  display: flex;
  gap: 1rem;
}

.category {
  background-color: var(--gray);
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  color: #FFF;
  justify-content: space-between;
  align-items: center;
}

.category>:first-child{
  width: 2rem;
  height: 2rem;
  fill: #FFF;
}


.category>:nth-child(2){
  font-size: 1rem;
  font-weight: bold;
}

.category>:nth-child(3){
  font-size: .9rem;
  line-height: 2;
}

div.join-now{
  align-self: self-start;
  padding: .7rem;
  border: var(--orange) 1px solid;
  cursor: pointer;
  transition: .3s ease-in-out;
}

div.join-now:hover{
  background-color: #dc2626;
  border: transparent 1px solid;
}


.join-now{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.join-now>img{
  width: 1rem;
}

div.category:hover{
  /* background-color: var(--planCard); */
  background: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  cursor: pointer;
}